<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seven.colink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 백그라운드 퍼미션 -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoLink"
        tools:targetApi="31">
        <activity
            android:name=".ui.userdetailshowmore.UserDetailShowmoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.showmore.MyPageShowMoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notify.NotificationActivity"
            android:exported="false" />

        <service
            android:name=".infrastructure.notify.FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.mypageedit.MyPageEditDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.group.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userdetail.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.evaluation.EvaluationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.post.register.PostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sign.signup.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sign.signin.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notify" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
    </application>

</manifest>